# 🦾 Jarvis 3.0 - Configuración

# Google Gemini API Keys
# Para rotación automática, podés agregar hasta 3 llaves.
# Obtenelas gratis en: https://aistudio.google.com/
GEMINI_API_KEY=tu_primer_llave_aca
GEMINI_API_KEY_1=tu_segunda_llave_aca
GEMINI_API_KEY_2=tu_tercer_llave_aca

# Configuración de Hardware
# ID del micrófono (usar scratch/list_audio_devices.py para encontrarlo)
# Por defecto 1 suele ser el micrófono interno en laptops Intel.
MIC_DEVICE_INDEX=1

# Sensibilidad del Wakeword (0.1 a 1.0)
# Valores bajos = Más sensible (ideal para voces bajas)
# Valores altos = Menos falsos positivos
WAKEWORD_SENSITIVITY=0.3
