# Renombra este archivo a .env e inserta tus claves

# Key principal
GEMINI_API_KEY=tu_clave_aca

# (Opcional) Keys de respaldo por si se agotan los tokens de la primera
# GEMINI_API_KEY_1=tu_segunda_clave_aca
# GEMINI_API_KEY_2=tu_tercera_clave_aca
